<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
        ul {
            list-style: none;
        }
        li a {
            color: red;
        }

        li div {
            display: none;
        }

        li a:hover:where(li div){
            display: block;
        }
    </style>
    <div>
        <ul role="list">
            <li>
                <a href="">Hover here</a>
                <div>
                    <p>Link 1</p>
                    <p>Link 2</p>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>