@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Inter', sans-serif;
    }
}

@layer components {
    .btn{
        padding: theme('padding.2') theme('padding.5');
        background-color: theme('colors.blue.800');
        color: theme('colors.white');
        font-size: theme('fontSize.base');
        border-radius: theme('borderRadius.DEFAULT');
        line-height: theme('lineHeight.6');
    }

    .btn:hover{
        background-color: theme('colors.blue.700');
    }
}

.remove_clear::-webkit-search-cancel-button,
.remove_clear::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}